.food-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadein 1s;
}

.food-item-image{
    width: 100%;
    height: 270px;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    height: 170px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 10px;
}

.food-item-name-rating p{
    font-size: 22px;
    font-weight: 500;
}

.food-item-name-rating img{
    width: 70px;
}

.food-item-desc{
     color: #676767;
     font-size: 16px;
}

.food-item-price{
    color: tomato;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}

.food-item-img-container{
    position: relative;
    display: flex;
    align-items: center;
    height: 270px;
}

.food-item-img-container .add{
    width: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.food-item-counter img {
    width: 30px;
}